.footer__moon-icon {
    display: block;
    align-self: center;
}

.footer__moon-icon:hover {
    cursor: pointer;
    opacity: .7;
}

@media screen and (max-width:500px) {
    .footer__moon-icon {
        display: none;
    }

}