.quote {
  display: flex;
  justify-content: space-between;
  padding: 0 120px 120px 120px;
}

@media screen  and (max-width: 1200px) {
  .quote {
    padding: 0 18px 120px 18px;
  }
}

@media screen  and (max-width: 768px) {
  .quote {
    padding: 0 18px 80px 18px;
    flex-direction: column;
  }
}

