.footer__icons-box {
    display: flex;
    gap: 22px;
    align-items: flex-end;
    position: relative;
    top: -20px;
}

@media screen and (max-width:500px) {
    .footer__icons-box {
        position: static;
        background-image: url(../../../images/logo__COLOR_main-1.svg);
        width: 34px;
        height: 34px;
        background-repeat: no-repeat;
    }
}