.footer__switch-box {
    background: #545454;
    border-radius: 9999px;
    width: 44px;
    height: 24px;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* padding: 2px; */
    /* padding-bottom: 30px; */
}

.footer__switch-box:hover {
    cursor: pointer;
    opacity: .7;
}

@media screen and (max-width:500px) {
    .footer__switch-box {
        display: none;
    }

}