.footer__switch-box {
    background: #545454;
    border-radius: 9999px;
    width: 44px;
    height: 24px;
    display: flex;
    justify-content: flex-end;

}

.footer__switch-box:hover {
    cursor: pointer;
    opacity: .7;
}

@media screen and (max-width:500px) {
    .footer__switch-box {
        display: none;
    }

}