.highway__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin: 0 0 50px 0;
  order: 1;
}

@media screen and (max-width: 768px) {
  .highway__title {
    padding-top: 40px;
    border-top: 1px solid #e5e5e5;
  }
}

@media screen and (max-width: 500px) {
  .highway__title {
    font-size: 32px;
    line-height: 40px;
  }
}