.bicycle__dots {
    display: none;
}

@media screen and (max-width: 1000px) {
    .bicycle__dots {
        display: flex;
        position: relative;
        gap: 10px;
        top: -40px;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .bicycle__dots {
        display: flex;
        gap: 5px;
        justify-content: center;
        position: relative;
        top: -30px;
    }

}