.bicycle__dots {
    display: none;
}


@media screen and (max-width: 320px) {
    .bicycle__dots {
        display: flex;
        gap: 5px;
        justify-content: center;
        position: relative;
        top: -164px;
    }

}