.bicycle {
    box-sizing: border-box;
    padding: 60px 120px
}

@media screen and (max-width: 320px) {

    .bicycle {
        padding: 0;
        width: 284px;
        margin-right: auto;
        margin-left: auto;
    }
}