.bicycle__name {
    margin-left: 5px;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.bicycle__name:hover {
    opacity: .7;
}

@media screen and (max-width:900px) {
    .bicycle__name {
        position: relative;
        top: -39px;
        margin-top: 0;
        color: black;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:320px) {
    .bicycle__name {
        position: relative;
        top: -39px;
        margin-top: 0;
        color: black;
        display: flex;
        font-size: 14px;
        line-height: 18px;
    }
}