.bicycle__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 97px;
    padding: 20px;
    gap: 30px;
    justify-content: center;
}

@media screen and (max-width:320px) {
    .bicycle__list {
        margin-top: 0;
    }
}