@media screen and (max-width: 320px) {
    .bicycle__item:not(:first-child) {
        display: none;
    }

    /* .bicycle__item {} */
}

@media screen and (max-width: 1350px) {
    .bicycle__item:nth-child(3n) {
        display: none;
    }

}

@media screen and (max-width: 850px) {
    .bicycle__item:nth-child(2n) {
        display: none;
    }

}