.intro__wrapper {
  position: relative;
}

.intro__wrapper:first-child {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__wrapper:last-child {
  position: relative;
  right: 0px;
  top: 0px;
  max-width: 810px;
}