.footer__light-icon {
    display: block;
}

.footer__light-icon:hover {
    cursor: pointer;
    opacity: .7;
}

@media screen and (max-width:500px) {
    .footer__light-icon {
        display: none;
    }

}