.highway__image {
  width: 100%;
}

.highway__image:last-child {
  margin-left: 40px;
}

@media screen and (max-width:768px) {
  .highway__image:last-child {
    display: none;
  }

  .highway__image {
    margin-top: 40px;
  }
}
