.bicycle__title {
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -.5px;
}

@media screen and (max-width: 1000px) {
    .bicycle__title {
        font-size: 45px;
        line-height: 50px;
    }
}

@media screen and (max-width: 700px) {
    .bicycle__title {
        font-size: 32px;
        line-height: 40px;
    }
}

@media screen and (max-width: 400px) {
    .bicycle__title {
        font-size: 32px;
        line-height: 40px;
        padding-top: 40px;
        margin-bottom: 40px;
        border-top: 1px solid #e5e5e5;
        width: 100%;
    }
}