.highway {
  padding: 0 0 60px 120px;
  overflow: hidden;
}

@media screen  and (max-width: 1200px) {
  .highway {
    padding: 0 0 60px 60px;
  }
}

@media screen  and (max-width: 768px) {
  .highway {
    padding: 0 30px 60px 30px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .highway {
    padding: 0 18px 60px 18px;
  }
}