.bicycle__dot {
    width: 4px;
    height: 4px;
    background-color: #cacaca;
    border-radius: 50%;
}

@media screen and (max-width:1000px) {
    .bicycle__dot {
        width: 8px;
        height: 8px;
    }

}