.bicycle__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .bicycle__header {
        flex-direction: column;
        align-items: flex-start;
        width: 284px;
    }

}