.workout__copyright {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}


@media screen and (max-width:320px) {
    .workout__copyright {
        font-size: 14px;
        line-height: 20px;
    }

}