.footer__input {
    background-color: transparent;
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-radius: 4px;
    max-width: 320px;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    opacity: 0.5;
    color: white;
    padding: 11px 20px;
    outline: none;
    margin-top: 50px;
    transition: all .3s ease;
}

.footer__input::placeholder {
    color: white;
    opacity: .7;
}

.footer__input:hover {
    opacity: 1;
    cursor: pointer;

}


@media screen and (max-width:650px) {
    .footer__input {
        margin-top: 40px;
        max-width: 284px;
    }

}