.workout__title {
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -.5px;
    color: #FFFFFF;
}

@media screen and (max-width:320px) {
    .workout__title {
        font-size: 32px;
        line-height: 40px;
        order: 0;
        padding-top: 40px;
        border-top: 1px solid #E3E3E3;
    }

}