.intro__caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  margin: 167px 0 0 0;
}

.intro__caption::after {
  content: "";
  width: 132px;
  height: 2px;
  background: #707070;
  position: absolute;
  top: 50%;
  margin: 0 0 0 30px;
}

@media screen and (max-width:768px) {
  .intro__caption {
    display: none;
    padding-right: 18px;
  }
}